<!doctype html>
<html lang="es">

<head>
  <title>{{accion}} bodega</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
</head>

<body>
    <!-- HEADER -->
    <header>
        <div class="bg-dark text-white py-4 text-center">
            <h1 class="display-4">{{accion}} bodega:</h1>
            <p class="lead">{{descripcion}}</p>
        </div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary  bg-dark-subtle">
            <div class="container-fluid">
                <p class="navbar-brand">Sistema de inventario</p>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'inicio' %}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/">Administracion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'read_movimiento' %}" >Movimientos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'read_activo' %}">Activos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'read_bodega' %}">Bodegas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'read_tipo_activo' %}">Tipos de activos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'singout' %}">Cerrar sesión</i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'edit_password' %}">Cambiar contraseña</i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- HEADER -->
    <br><br>
    <!-- MAIN -->
    <main>
        <div class="container">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% block content %}
            <form method="POST">
                {% csrf_token %}
                <label for="{{ form.nombre.id_for_label }}">Nombre de la bodega:</label>
                <div class="form-group">
                    {{ form.nombre }}
                </div>

                <br>

                <label for="{{ form.ubicacion.id_for_label }}">Ubicacion de la bodega:</label>
                <div class="form-group">
                    {{ form.ubicacion }}
                </div>

                <br>

                <label for="{{ form.piso.id_for_label }}">Piso en que esta la bodega:</label>
                <div class="form-group">
                    {{ form.piso }}
                    <script>
                        document.getElementById("{{ form.piso.id_for_label }}").type = "number";
                        document.getElementById("{{ form.piso.id_for_label }}").min = "0";
                        document.getElementById("{{ form.piso.id_for_label }}").step = "1";
                        document.getElementById("{{ form.piso.id_for_label }}").onkeypress = function(e) {
                            if (e.key == "e") {
                                return false;
                            }
                            if (e.key == "6") {
                                return false;
                            }
                            if (e.key == "7") {
                                return false;
                            }
                            if (e.key == "8") {
                                return false;
                            }
                            if (e.key == "9") {
                                return false;
                            }
                            if (e.target.value.length >= 2) {
                                return false;
                            }
                        }
                    </script>
                </div>

                <br>

                <label for="{{ form.edificio.id_for_label }}">Edificio en que esta la bodega:</label>
                <div class="form-group">
                    {{ form.edificio }}
                </div>

                <br>

                <label for="{{ form.capacidad.id_for_label }}">Capacidad de la bodega:</label>
                <div class="form-group">
                    {{ form.capacidad }}
                    <script>
                        document.getElementById("{{ form.capacidad.id_for_label }}").type = "number";
                        document.getElementById("{{ form.capacidad.id_for_label }}").min = "0";
                        document.getElementById("{{ form.capacidad.id_for_label }}").step = "1";
                        document.getElementById("{{ form.capacidad.id_for_label }}").onkeypress = function(e) {
                            if (e.key == "-") {
                                return false;
                            }
                            if (e.key == "e") {
                                return false;
                            }
                            if (e.target.value.length >= 10) {
                                return false;
                            }
                        }
                    </script>
                </div>

                <br>

                <a href="{% url 'read_bodega' %}" class="btn btn-dark">Cancelar</a>
                <button type="submit" class="btn btn-success">{{accion}} bodega</button>
            </form>
            {% endblock %}
        </div>
    </main>
    <!-- MAIN -->

    <!-- FOOTER -->
    <footer>
        <div class="alert alert-dark text-center py-4 mt-5">
            <p class="lead">Desarrollado por el equipo de complete scrum</p>
        </div>
    </footer>
    <!-- FOOTER -->

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous">
    </script>
</body>

</html>