<!doctype html>
<html lang="es">

<head>
  <title>Movimientos del sistema</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
</head>

<body>
    <!-- HEADER -->
    <header>
        <div class="bg-dark text-white py-4 text-center">
            <h1 class="display-4">Movimientos del sistema</h1>
            <p class="lead">Todos los movimientos del sistema, selecione se desea generar un informe y como:</p>
        </div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary  bg-dark-subtle">
            <div class="container-fluid">
                <p class="navbar-brand">Sistema de inventario</p>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'inicio' %}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/">Administracion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'read_movimiento' %}" >Movimientos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'read_activo' %}">Activos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'read_bodega' %}">Bodegas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'read_tipo_activo' %}">Tipos de activos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'singout' %}">Cerrar sesión</i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'edit_password' %}">Cambiar contraseña</i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- HEADER -->
    <br><br>
    <!-- MAIN -->
    <main>
        <div class="table-responsive container">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="text-center">
                <h3>Mostrar los movimientos que hicieron:</h3>
                <a href="{% url 'read_movimiento_dia' %}" class="btn btn-warning btn-lg text-dark">Hoy</a>
                <a href="{% url 'read_movimiento_semana' %}" class="btn btn-warning btn-lg text-dark">Esta semana</a>
                <a href="{% url 'read_movimiento_mes' %}" class="btn btn-warning btn-lg text-dark">Este mes</a>
                <a href="{% url 'read_movimiento_all' %}" class="btn btn-warning btn-lg text-dark">Todo el tiempo</a>
            </div>
            <br>
            <br>
            <div class="text-center">
                <a href="{% url 'generar_pdf' %}" class="btn btn-success btn-lg text-white">Descargar informe pdf</a>
                <a href="{% url 'inicio' %}" class="btn btn-dark btn-lg text-white">Volver al menu</a>
            </div>
            <br>
            <table
                class="table table-primary"
            >
                <thead>
                    <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Que se hizo</th>
                        <th scope="col">Activo relacionado</th>
                        <th scope="col">Bodega relacionada</th>
                        <th scope="col">Tipo de activo relacionado</th>
                        <th scope="col">Usuario ejecutor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for m in movimientos %}
                    <tr class="">
                        <td scope="row">{{ m.fecha }}</td>
                        <!-- activo -->
                        {% if m.tipo_movimiento == 'AD_ac' %}
                        <td class="text-success">Se agrego un activo al inventario</td>
                        {% elif m.tipo_movimiento == 'ED_ac' %}
                        <td class="text-primary">Se actualizo un activo en inventario</td>
                        {% elif m.tipo_movimiento == 'DE_ac' %}
                        <td class="text-danger">Se elimino un activo del inventario</td>
                        <!-- bodega -->
                        {% elif m.tipo_movimiento == 'AD_bo' %}
                        <td class="text-success">Se registro una nueva bodega</td>
                        {% elif m.tipo_movimiento == 'ED_bo' %}
                        <td class="text-primary">Se actualizaron datos de una bodega</td>
                        {% elif m.tipo_movimiento == 'DE_bo' %}
                        <td class="text-danger">Se elimino una bodega del registro</td>
                        <!-- tipo activo -->
                        {% elif m.tipo_movimiento == 'AD_ta' %}
                        <td class="text-success">Se agrego un nuevo tipo de activo</td>
                        {% elif m.tipo_movimiento == 'ED_ta' %}
                        <td class="text-primary">Se actualizaron datos de un tipo de activo</td>
                        {% elif m.tipo_movimiento == 'DE_ta' %}
                        <td class="text-danger">Se elimino un tipo de activo del registro</td>
                        <!-- activo bodega -->
                        {% elif m.tipo_movimiento == 'AD_ab' %}
                        <td class="text-success">Se agrego un activo a una bodega</td>
                        {% elif m.tipo_movimiento == 'ED_ab' %}
                        <td class="text-primary">Se movio un activo de una bodega a otra bodega</td>
                        {% elif m.tipo_movimiento == 'DE_ab' %}
                        <td class="text-danger">Se elimino un activo de una bodega</td>
                        {% endif %}
                        
                        {% if m.activo_id == None %}
                        <td>No aplica</td>
                        {% else %}
                        <td>{{ m.activo_id }}</td>
                        {% endif %}
                        {% if m.bodega_id == None %}
                        <td>No aplica</td>
                        {% else %}
                        <td>{{ m.bodega_id }}</td>
                        {% endif %}
                        {% if m.tipo_activo_id == None %}
                        <td>No aplica</td>
                        {% else %}
                        <td>{{ m.tipo_activo_id }}</td>
                        {% endif %}
                        <td>{{ m.user }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
    <!-- MAIN -->

    <!-- FOOTER -->
    <footer>
        <div class="alert alert-dark text-center py-4 mt-5">
            <p class="lead">Desarrollado por el equipo de complete scrum</p>
        </div>
    </footer>
    <!-- FOOTER -->

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous">
    </script>
</body>

</html>